h1{
    background-color: black;
    color:aqua
}
.red{
    background-color: red;
}
#green{
    background-color: green;
}
.clickme{
    background-color: blue;
    border:none;
    cursor:pointer;
    color:black;
    border-radius: 5px;
}
.clickme:hover{
    background-color: brown;
}
/* task 2*/
.blue {
    background-color: rgb(34, 156, 204);
    width: 500px;
    height: 500px;
    border: none;
    margin: auto; /* center the blue box */
    position: relative; /*adjusted relative to its normal position. */
}

.white {
    background-color: white;
    width: 300px;
    border: none;
    position: absolute; /* blue box ko bhitra rakhna */
    top: 20%; 
    left: 20%; 
}

h2 {
    color: rgb(34, 156, 204);
}

.box {
    width: 200px;
    height: 20px;
    background-color: rgb(216, 203, 203);
    color: grey;
    border: none;
    border-radius: 3px; /*box border curve garna*/
    padding: 20px; /*username password jasto box haru bich ko spacing milauna*/
    margin: 20px; /*username haru wala box ra baira ko blue box ko bich ma space milauna*/
}

.login {
    width: 200px;
    height: 20px;
    background-color: rgb(34, 156, 204);
    color: white;
    text-align: center;
    padding: 20px;
    margin: 20px;
}
