h1{
    background-color: black;
    color:aqua
}
.red{
    background-color: red;
}
#green{
    background-color: green;
}
.clickme{
    background-color: blue;
    border:none;
    cursor:pointer;
    color:black;
    border-radius: 5px;
}
.clickme:hover{
    background-color: brown;
}